<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/list}">Game List</a></li>
                <li><a th:href="@{/addgame}">Add Game</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>
        </nav>
    </header>

</body>

</html>